body {
	background-color: #1E1E1E;
	font-family: 'Lato', Arial, sans-serif;
	color:#FFFFFF;
}

.content {
	margin:0 auto;
	margin-top:10em;
	width:450px;
	text-align: center;
}

.avatar-container {
	position:relative;
	margin: 0 auto;
	font-size:0;
	width:200px;
	height:auto;
}

.avatar-container img {
	font-size: 1rem;
	max-width:100%;
	border-radius: 0.3125rem;
}

#default-avatar {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 4;
	-webkit-transition: all 0.5s ease 0.1s;
	transition: all 0.5s ease 0.1s;
	opacity: 1;
}

#alt-avatar {
	position: relative;
	z-index: 3;
}

.avatar-container:hover #default-avatar {
	opacity:0;
}

.fa {
	font-size: 2.5em !important;
	-webkit-transition: all 250ms ease 20ms;
	transition: all 250ms ease 20ms;
}

.icons .fa {
	margin:0 15px;
}

.icons .fa-twitter:hover {
	color: #2185D0;
}

.icons .fa-youtube-play:hover {
	color: #DB2828;
}

.icons .fa-github:hover {
	color: #76258B;
}

.icons .fa-film:hover {
	color: #F2711C;
}

.icons .link-osu i:hover {
	color: #bb1177;
}

.icons .link-mfc i:hover {
	color: #6B9F5B;
}

a, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.bottom-sticky {
	position: fixed;
    left: 0;
    bottom: 0;
}
